@import url("reset.css");

/* *{
    outline: 1px solid red;
} */
body{
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: 262626;
    background: #f5f5f5;
    /* overflow-y: hidden; */
}

.wrapper{
    max-width: 100%;
    width: 100%;
    padding-bottom: 82px;
    /* overflow: hidden; */
}

.holder{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
}

.holder a{
    text-decoration:none;
}

.holder .logo_blue{
    margin: 25px 80px auto;
    width: 120px;
    display: block;
    /* display: none; */
}

.holder .logo_white{
    position: absolute;
    z-index: 2000;
    margin: 41px 60px auto;
    width: 140px;
    display: none;
}

.holder_right{
    display: flex;
    margin-right: 60px;
    z-index: 2001;
}

.holder_button{
    margin-top: 30px;
    margin-right: 44px;
    width: 200px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    border: 0;
    border-radius: 24px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(90deg, #4EE5EA 3.94%, #26D0A8 94.73%);
}

#nav{
    margin-top: 40px;
    position: relative;
    width: 30px;
    height: 21px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav div{
    border-radius: 2px;
    position: absolute;
    z-index: 2000;
    top:0;
    width: 30px;
    height: 3px;
    background: #414042;
}

#nav div:nth-child(2),#nav div:nth-child(3){
    top:10px;
}

#nav div:nth-child(4){
    top: 20px;
    width: 26px;
    margin-left: 4px;
}


  
  #nav.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav.open div:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav.open div:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
/* menu */
.slidMenu{
    display: none;
    position:fixed;
    top:-100vh;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #585880 3.61%, #26C6D0 95.7%);
    z-index: 1000;
    opacity: .9;
}


.top{
    z-index: 100;
    color: #fff;
}

.top p{
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1.79px;
}

.top h2{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.64;
    line-height: 38.98px;
    margin-top: 9px;
}

.top span{
    margin-left: 9px;
}

.menu_center{
    display: flex;
    justify-content: center;
    z-index: 100;
}

.menu_one{
    width: 380px;
    margin-right: 42px;
    opacity: 1;
}

.menu_one_one{
    top:144px;
    width: 380px;
    height: 210px;
    position: absolute;
    display: flex;  
    background-image: url(../img/aboutus_img.png);
}

.menu_one_one img{
    width: 41.76px;
    height: 61px;
    margin: 74px 27px 0 37px;
}

.menu_one_one div{
    margin-top: 72px;
}
.menu_one_two{
    top:388px;
    width: 380px;
    height: 320px;
    position: absolute;
    display: flex;  
    background-image: url(../img/work_img.png);
}

.menu_one_two img{
    margin: 199px 19px 0 28px;
    width: 60.8px;
    height: 61px;
}

.menu_one_two div{
    margin-top: 194px;
}

.menu_two_one{
    top: 40px;
    width: 290px;
    height: 430px;
    position: absolute;
    padding: 240.26px 0 0 31px;
    box-sizing: border-box;
    background-image: url(../img/careers.png);
}

.menu_two_one img{
    margin-bottom: 28px;
}

.menu_two_two{
    top:510px;
    width: 290px;
    height: 282px;
    position: absolute;
    padding: 73px 0 0 37px;
    box-sizing: border-box;
    background-image: url(../img/INSIGHTS_img.png);
}

.menu_two_two img{
    margin-bottom: 15px;
}

.menu_three_one{
    top:152px;
    width: 380px;
    height: 320px;
    padding: 123px 0 0 48px;
    box-sizing: border-box;
    position: absolute;
    background-image: url(../img/service_img.png);
}

.menu_three_one img{
    margin-bottom: 15px;
}

.menu_three_two{
    top:512px;
    width: 380px;
    height: 210px;
    border-radius: 30px;
    padding: 72px 0 0 42px;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
}

.menu_three_two p{
    color: #262626;
}

.menu_three_two h2{
    color: #26C6D0;
}

.menu_two{
    width: 290px;
    margin-right: 42px;
}

.menu_three{
    width: 380px;
}

/* banner */
.banner{
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-color: rgba(81,150,191,.6);;
    border-radius: 0 0 50px 50px;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner_video{
    width: 120vw;
    height: 100vh;
    left: -10vw;
    position: absolute;
    -webkit-filter:brightness(.7);
    /* z-index: 5; */
    top:0;
}
.banner_content{
    position: relative;
    height: 100vh;
}
.banner_text1{
    position: absolute;
    left: 4.34vw;
    bottom: 23vh;
    
}
.banner_text1 p{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical;
    transform: scaleX(-1) rotateX(180deg);
    z-index: 10;
    color: white;
    /* position: absolute;
    left: 4.34%;
    top:249px; */
}

.banner_text1 div{
    content: "";
    margin: 24.5px auto;
    width: 2px;
    height: 113px;
    background-color: fff;
}

.banner_text2{
    position: absolute;
    /* top: 181px; */
    bottom: 32.2%;
    left: 15.2vw;
}

.banner_text2 h1{
    font-size: 38px;
    line-height: 70px;
    letter-spacing: 9.17px;
    color: white;
    font-weight: 700;
    margin-top: 34px;
}


.pink{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #EE6C8A;
    border-radius: 50%;
}

.banner_text2 h1::after{
    content: "";
    margin-top: -27px;
    display: block;
    width: 594px;
    height: 10px;
    background-color: #26C6D0;
}

.salad{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.salad img{
    display: block;
    margin: 0 auto;
}

.salad p{
    margin-top: 11px;
    font-size: 14px;
    line-height: 17.05px;
    letter-spacing: 2px;
    color: white;
}

.salad div{
    margin: 30.67px auto 0;
    width: 1px;
    height: 44.04px;
    background-color: #fff;
}


.about_vline{
    margin: 0 auto;
    width: 1px;
    height: 86px;
    background-color: 808080; 
}

.about_title{
    margin: 40px auto 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3.64px;
}

.about_video{
    margin: 72.7px auto 0;
    display: block;
    width: 66.7vw;
    height: 37.8vw;
}

.about p{
    margin: 30px auto 0;
    width: 69.9%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

.about_button{
    display: block;
    width: 223px;
    height: 86px;
    margin: 30px auto;
    background-color: #26C6D0;
    color: white;
    text-align: center;
    line-height: 86px;
}

.about_button span{
    display: inline-block;
    width: 52px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 14.91px;

}

.awards{
    display: flex;
    box-sizing: border-box  ;
    padding:65px 0 99px 69px;
    background-color: #fff;
    border-radius: 40px 0 40px 40px;
    float: right;
    width: 93.47vw;
    height: 432px;
}
.awards .awards_title{
    width: 416px;
    flex-shrink: 0;
}
.awards_title h3{
text-align: center;
    font-size: 28px;
}

.awards_title div{
    width: 185px;
}

.awards_title p{
    font-weight: 400;
    margin-top: 31.7px;
}
.awards_award{
    align-self: center;
    margin-left: 37px;
    line-height: 28px;
    margin-top: 33px;
    margin-right: 37px;
}

.awards_award div div:first-child{
    margin-bottom: 19px;
}

.awards_award img{
    width: calc( 283 / 1440 * 100vw);
}


.ingradients{
    margin-top: 286px;
    padding-bottom: 433px;
    box-sizing: border-box;
    background-color: #26C6D0;
    border-radius: 30px 30px 30px 30px;
}

.ingradients .about_title{
    box-sizing: border-box;
    padding-top: 280px;
    color: #fff;
}

.ingradients_text{
    margin: 44.7px auto;
    color:#fff;
    font-weight: 400;
    width: 69.9%;
    letter-spacing: 1px;
    text-align: center;
}

.ingradients_button{
    display: block;
    width: 294px;
    height: 92px;
    margin: 30px auto;
    background-color: #585880;
    color: white;
    text-align: center;
    line-height: 92px;
}

.ingradients_button span{
    display: inline-block;
    width: 68.6px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 22.72px;
}

.ingradients_top{
    margin-bottom: 85px;
}

.ingradients_bottom{
 
}

.ingradients_center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.ingradients_list{
    max-width: 345px;
    margin: 0 25px 60px;
}

.ingradients_list div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.ingradients_list h4{
    font-size: 20px;
    line-height: 24.36px;
    height: 39px;
    color: #fff;
    margin-top: 15.1px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.ingradients_list p{
    color: #fff;
    font-weight:normal;
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;
    width: 345px;
}

.ingradients_list a{
    display: block;
    width: 165px;
    height: 58px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 58px;
    color: white;
    font-size: 14px;
    margin: 0 auto;
}


.ingradients h6::after{
    content: "";
    z-index: -1;
    display: block;
    width: 400px;
    height: 10px;
    margin-top: -10px;
    background-color: #FFBC58;
}
.ingradients h6{
    width: 400px;
    margin: 42px auto;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}

.ceo{
    float: left;
    background-image: url(../img/ceo\ _bg.png);
    background-size: cover;
    width: 90.2vw;
    height: 600px;
    margin-top: -380px;
    display: flex;
    border-radius: 0 50px 50px 50px;
    padding-right: 6.94vw;
    box-sizing: border-box;
    color: white;
}


.ceo_left{
    margin: 156px 7.7vw 0 8.8vw;
    display: block;
}

.ceo_left img{
    display: block;
    margin: 0 auto;
}
.ceo_left h4{
    font-size: 20px;
    margin: 39px auto 8px;
    text-align: center;
}

.ceo_left p{
    font-size: 16px;
    width: 250px;
    font-weight: 400;
    font-style: italic;
}

.ceo_right{
    /* margin-top: calc(100px - (1440px - 100vw) / 8); */
    margin-top: 100px;
}
.ceo_right img{
    display: block;
    margin:0 auto 26.24px;
}

.ceo_right p{
    letter-spacing: 2px;
    /* width: 51vw; */
    font-size: 22px;
    /* line-height: 48px; */
    line-height: 3.3vw;
    font-weight: 400;
}

.ceo_right p span{
    color: #FFBC58;
}

.brand{
    background-color: #fff;
    margin-top: -100px;
    padding-top: 430px;
}

.brand p{
    margin: 55.7px auto 73px;
    width: 69.9%;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
}

.client_img{
    max-width: 72.2%;
    display: block;
    margin: 0 auto;
}

.buttom{
    background-image: url(../img//slider_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 0 50px 50px;
    /* background-size: cover; */
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } 

  .slider_content{
    display: flex;
    position: relative;
    color: white;
    /* width: calc(1037 / 1440 * 100vw); */
    margin: 0 auto;
  }

  .slider_content img{
    height: 540px;
    border-radius: 30px;
  }

.sld_text{
    margin: 63px 0 0 4.93vw;
}

.sld_p1{
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.2px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
}

.sld_p2{
    width: 30vw;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
    

}

  .slider_content h2::after{
    content: "";
    z-index: -1;
    display: block;
    width: 410px;
    height: 5.5px;
    margin-top: -12px;
    margin-left: -10px;
    background-color: #26C6D0;
}
.slider_content h2{
    width: 440px;
    color: #fff;
    font-size: 18px;
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 40px;
}

.slider_content .pink{
    margin-left: 27px;
}

.sld_button{
    position: absolute;
    display: block;
    width: 300px;
    height: 140px;
    background-color: #26C6D0;
    color: white;
    text-align: center;
    line-height: 140px;
    letter-spacing: 2.22px;
    font-weight: 700;
    font-size: 16px;
    bottom: -88px;
    left: calc( 311px - (1440px - 100vw)* 0.18);
}

.sld_button span{
    display: inline-block;
    width: 70px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 26px;
}

.sld_circle2{
    width: 53px;
    height: 53px;
    background-color: #26C6D0;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    top: 415px;
    left: 98px;
}

.sld_circle1{
    width: 53px;
    height: 53px;
    background-color: #26C6D0;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 415px;
    right: 98px
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: white;
    font-size: 24px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.page{
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.22px;
    text-align: left;
    top:100px;
    right:114px;
}

.page_line{
    display: block;
    width: 48px;
    height: 1px;
    background-color: #26C6D0;
    transform: rotate(135deg);
}

.page_now{
    display: block;
    margin-bottom: 4px;
    margin-right: 30px;
}

.page_t{
    display: block;
    margin-top: 4px;
    margin-left: 30px;
}

/* ::-webkit-scrollbar {
    display: none;
  } */

  /* --- classList --- */
.nav_in{
    display: block;
    animation: move  1.5s ease-in-out forwards;
    transition: all 1s;
   }
   
   @keyframes move{
    0%{
        top:-100vh;
    }
    100%{
        top: 0;
    }
   } 

   .nav_out{
    display: block;
    animation: out  1.5s ease-in-out forwards;
    transition: all 1s;
   }

   @keyframes out{
    0%{
        top:0;
    }
    100%{
        top: -100vh;
        display: none;
    }
   } 

   .holder .none{
    display: none;
   }

   .holder .block{
    display: block;
   }


/* rwd平板 */
   @media screen and (max-width:1100px) {
     .awards{
        padding: 4.51vw 0 6.8vw 4.79vw;
    }

    .awards_title p{
        margin-top: 2.2vw;
    }

    .wrapper .awards_award{
        margin-left: 0;
        margin-right: 0;
    }

    .awards .awards_title{
        width: 50%;
    }

    .awards_award_contain{
        width: 31.9vw;
        margin-left: 3.47vw;
    }

    .awards_award{
        margin-top: 2.29vw;
    }

    .awards_award div div:first-child{
        margin: 0;
    }

    .awards_award img{
        width: 230px;
    }
    .ceo{
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }

    .ceo_left{
        margin: 0 0 0 0;
    }

    .ceo_right{
        margin-top: 0;
        max-width: 50%;
    }

    .ceo_right p{
        font-size: 20px;
        line-height: 30px;
    }

    .slider_content{
        display: block;
    }

    .slider_content img{
        height: 270px;
        display: block;
        margin: 0 auto;
    }
    .slider_content{
        /* width: 540px; */
    }

    .sld_text{
        width: 80%;
        margin: 0 auto;
    }
    .slider_content h2{
        display: block;
        margin: 30px auto;

    }

    .sld_p1{
        display: none;
    }

    .sld_p2{
        width: 100%;
       text-align: center;
    }

    .sld_button{
        height: 70px;
        line-height: 70px;
        position: unset;
        margin: 40px auto;
    }

    .page{
        top: 10vh;
        right: 15vw;
    }

    .sld_circle1{
        right: 3.18vw;
    }

    .sld_circle2{
        left: 3.18vw;
    }

}



/* rwd手機 */
   @media screen and (max-width:415px) {

   }