@import url("reset.css");

/* *{
    outline: 1px solid red;
} */
body{
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: 262626;
    background: #f5f5f5;
    /* overflow-y: hidden; */
}

.wrapper{
    max-width: 100%;
    width: 100%;
    padding-bottom: 82px;
    overflow: hidden;
}

.holder{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
}

.holder a{
    text-decoration:none;
}

.holder .logo_blue{
    margin: 25px 80px auto;
    width: 120px;
    display: block;
    /* display: none; */
}

.holder .logo_white{
    position: absolute;
    z-index: 2000;
    margin: 41px 60px auto;
    width: 140px;
    display: none;
}

.holder_right{
    display: flex;
    margin-right: 60px;
    z-index: 2001;
}

.holder_button{
    margin-top: 30px;
    margin-right: 44px;
    width: 200px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    border: 0;
    border-radius: 24px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    background: linear-gradient(90deg, #4EE5EA 3.94%, #26D0A8 94.73%);
    transition: all 1s ease-in-out;
    background-size: 300%;
}

.rwd_btn{
    display: none;
}

.holder_button:hover{
    background-size: 300%;
    animation: gradient 5s infinite;
}
@keyframes gradient {
    0%{
        background-position: 0 ;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0;
    }
}



#nav{
    margin-top: 40px;
    position: relative;
    width: 30px;
    height: 21px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav div{
    border-radius: 2px;
    position: absolute;
    z-index: 2000;
    top:0;
    width: 30px;
    height: 3px;
    background: #414042;
    transition: all .5s ease-in-out;
}

#nav div:nth-child(2),#nav div:nth-child(3){
    top:10px;
}

#nav div:nth-child(4){
    top: 20px;
    width: 26px;
    margin-left: 4px;
}


  
  #nav.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    transform: rotate(0deg);
    display: none;
  }
  
  #nav.open div:nth-child(2) {
    transform: rotate(45deg);
    background-color: #fff;

  }
  
  #nav.open div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #fff;

  }
  
  #nav.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    display: none;
  }
/* menu */
.slidMenu{
    display: none;
    position:fixed;
    top:0;
    right:-110vw;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
    /* opacity: .9; */
}

.background{
    background: linear-gradient(180deg, #585880 3.61%, #26C6D0 95.7%);
    opacity: .9;
    max-width: 100%;
    width: 100%;
    height: 100vh;

}
.top{
    z-index: 100;
    color: #fff;
}

.top p{
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1.79px;
}

.top h2{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3.64;
    line-height: 38.98px;
    margin-top: 9px;
}

.top span{
    margin-left: 9px;
}

.menu_center{
    display: flex;
    justify-content: center;
    z-index: 100;
}

.menu_one{
    width: 380px;
    margin-right: 42px;
    opacity: 1;
}

@keyframes navtext {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.nav_ani{
    animation: navtext 2s ease-in-out;
}
.menu_one_one{
    top:144px;
    width: 380px;
    height: 210px;
    position: absolute;
    background-size: cover;
    display: flex;  
    background-image: url(../img/aboutus_img.png);
    transition: all 300ms ease-in-out 500ms;
}

.menu_one_one img{
    width: 41.76px;
    height: 61px;
    margin: 74px 27px 0 37px;
}

.menu_one_one div{
    margin-top: 72px;
}
.menu_one_two{
    top:388px;
    width: 380px;
    height: 320px;
    position: absolute;
    display: flex;  
    background-size: cover;
    background-image: url(../img/work_img.png);
}

.menu_one_two img{
    margin: 199px 19px 0 28px;
    width: 60.8px;
    height: 61px;
}

.menu_one_two span{
    background-color: #26C6D0;
}

.menu_one_two div{
    margin-top: 194px;
}

.menu_two_one{
    top: 92px;
    width: 290px;
    height: 430px;
    position: absolute;
    padding: 240.26px 0 0 31px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../img/careers.png);
}

.menu_two_one img{
    margin-bottom: 28px;
}

.menu_two_two{
    top:562px;
    width: 290px;
    height: 282px;
    position: absolute;
    padding: 73px 0 0 37px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../img/INSIGHTS_img.png);
}

.menu_two_two img{
    margin-bottom: 15px;
}

.menu_three_one{
    top:152px;
    width: 380px;
    height: 320px;
    padding: 123px 0 0 48px;
    box-sizing: border-box;
    position: absolute;
    background-size: cover;
    background-image: url(../img/service_img.png);
}

.menu_three_one img{
    margin-bottom: 15px;
}

.menu_three_two{
    top:512px;
    width: 380px;
    height: 210px;
    border-radius: 30px;
    padding: 72px 0 0 42px;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
}

.menu_three_two p{
    color: #262626;
}

.menu_three_two h2{
    color: #26C6D0;
}

.menu_two{
    width: 290px;
    margin-right: 42px;
}

.menu_three{
    width: 380px;
}

/* banner */
.banner{
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-color: rgba(81,150,191,.6);;
    border-radius: 0 0 50px 50px;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
}

.video_box{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.banner_video{
    /* left: calc( -0.6 * (1440px - 100vw)); */
    position: absolute;
    -webkit-filter:brightness(.7);
    top:0;
}
.banner_content{
    position: relative;
    height: 100vh;
    top: -100vh;
}
.banner_text1{
    position: absolute;
    left: 4.34vw;
    bottom: 23vh;
    
}
.banner_text1 p{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical;
    transform: scaleX(-1) rotateX(180deg);
    z-index: 10;
    color: white;
    /* position: absolute;
    left: 4.34%;
    top:249px; */
}

.banner_text1 div{
    content: "";
    margin: 24.5px auto;
    width: 2px;
    height: 113px;
    background-color: fff;
}

.banner_text2{
    position: absolute;
    /* top: 181px; */
    bottom: 32.2%;
    left: 15.2vw;
}

.banner_text2 h1{
    font-size: 38px;
    line-height: 70px;
    letter-spacing: 9.17px;
    color: white;
    font-weight: 700;
    margin-top: 34px;
}


.pink{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #EE6C8A;
    border-radius: 50%;
}

.banner_text2 h1::after{
    content: "";
    margin-top: -27px;
    display: block;
    width: 594px;
    height: 10px;
    background-color: #26C6D0;
}

.salad{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}


.salad img{
    display: block;
    margin: 0 auto;
    animation: updown  1.5s ease-in-out infinite;
    transition: all 1s;
}

@keyframes updown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
   } 

.salad p{
    margin-top: 11px;
    font-size: 14px;
    line-height: 17.05px;
    letter-spacing: 2px;
    color: white;
    animation: updown  1.5s ease-in-out infinite;
    transition: all 1s;
}

.salad div{
    margin: 30.67px auto 0;
    width: 1px;
    height: 44.04px;
    background-color: #fff;
}


.about_vline{
    margin: 0 auto;
    width: 1px;
    height: 86px;
    background-color: 808080; 
}

.about_title{
    margin: 40px auto 0;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3.64px;
}

.about_video{
    margin: 72.7px auto 0;
    display: block;
    width: 66.7vw;
    height: 37.8vw;
}

.about p{
    margin: 30px auto 0;
    width: 69.9%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

.about_button{
    display: block;
    width: 223px;
    height: 86px;
    margin: 30px auto;
    background-color: #26C6D0;
    color: white;
    text-align: center;
    line-height: 86px;
}

.about_button:hover{
    animation: wobble-top 1s ease-in-out;
}
@keyframes wobble-top {
	16.65% {
		transform: skew(-12deg);
	}
	33.3% {
		transform: skew(10deg);
	}
	49.95% {
		transform: skew(-6deg);
	}
	66.6% {
		transform: skew(4deg);
	}
	83.25% {
		transform: skew(-2deg);
	}
	100% {
		transform: skew(0);
	}
}

.about_button span{
    display: inline-block;
    width: 52px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 14.91px;

}

.awards{
    display: flex;
    box-sizing: border-box  ;
    padding:65px 0 99px 69px;
    background-color: #fff;
    border-radius: 40px 0 40px 40px;
    float: right;
    width: 93.47vw;
    height: 432px;
}
.awards .awards_title{
    width: 416px;
    flex-shrink: 0;
}
.awards_title h3{
text-align: center;
    font-size: 28px;
}

.awards_title div{
    width: 185px;
}

.awards_title p{
    font-weight: 400;
    margin-top: 31.7px;
}
.awards_award{
    align-self: center;
    margin-left: 37px;
    line-height: 28px;
    margin-top: 33px;
    margin-right: 37px;
}

.awards_award div div:first-child{
    margin-bottom: 19px;
}

.awards_award img{
    width: calc( 283 / 1440 * 100vw);
}


.ingradients{
    margin-top: 286px;
    padding-bottom: 433px;
    box-sizing: border-box;
    background-color: #26C6D0;
    border-radius: 30px 30px 30px 30px;
}

.ingradients .about_title{
    box-sizing: border-box;
    padding-top: 280px;
    color: #fff;
}

.ingradients_text{
    margin: 44.7px auto;
    color:#fff;
    font-weight: 400;
    width: 69.9%;
    letter-spacing: 1px;
    text-align: center;
}

.ingradients_button{
    display: block;
    width: 294px;
    height: 92px;
    margin: 30px auto;
    background-color: #585880;
    color: white;
    text-align: center;
    line-height: 92px;
    transition: all 1s;
}

.ingradients_button:hover{
    animation: wobble-top 1s ease-in-out;
}


.ingradients_button span{
    display: inline-block;
    width: 68.6px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 22.72px;
}

.ingradients_top{
    margin-bottom: 85px;
}

.ingradients_center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.ingradients_list{
    max-width: 345px;
    margin: 0 25px 60px;
}

.ingradients_list div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.ingradients_list h4{
    font-size: 20px;
    line-height: 24.36px;
    height: 39px;
    color: #fff;
    margin-top: 15.1px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.ingradients_list p{
    color: #fff;
    font-weight:normal;
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;
    width: 345px;
}

.ingradients_list a{
    display: block;
    width: 165px;
    height: 58px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 58px;
    color: white;
    font-size: 14px;
    margin: 0 auto;
    transition: all .4s;
    
}

.ingradients_list a:hover{
    color: #26C6D0;
    box-shadow: white 0 0px 0px 40px inset;
    background-color: #fff;
}

.ingradients h6::after{
    content: "";
    z-index: -1;
    display: block;
    width: 400px;
    height: 10px;
    margin-top: -10px;
    background-color: #FFBC58;
}
.ingradients h6{
    width: 400px;
    margin: 42px auto;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}

.ceo{
    float: left;
    background-image: url(../img/ceo\ _bg.png);
    background-size: cover;
    width: 90.2vw;
    height: 600px;
    margin-top: -380px;
    display: flex;
    border-radius: 0 50px 50px 50px;
    padding-right: 6.94vw;
    box-sizing: border-box;
    color: white;
}


.ceo_left{
    margin: 156px 7.7vw 0 8.8vw;
    display: block;
}

.ceo_left img{
    display: block;
    margin: 0 auto;
}
.ceo_left h4{
    font-size: 20px;
    margin: 39px auto 8px;
    text-align: center;
}

.ceo_left p{
    font-size: 16px;
    width: 250px;
    font-weight: 400;
    font-style: italic;
}

.ceo_right{
    /* margin-top: calc(100px - (1440px - 100vw) / 8); */
    margin-top: 100px;
}
.ceo_right img{
    display: block;
    margin:0 auto 26.24px;
}

.ceo_right p{
    letter-spacing: 2px;
    /* width: 51vw; */
    font-size: 22px;
    /* line-height: 48px; */
    line-height: 3.3vw;
    font-weight: 400;
}

.ceo_right p span{
    color: #FFBC58;
}

.brand{
    background-color: #fff;
    margin-top: -100px;
    padding-top: 430px;
}

.brand p{
    margin: 55.7px auto 73px;
    width: 69.9%;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
}

.client_img{
    max-width: 72.2%;
    display: block;
    margin: 0 auto;
}

.buttom{
    background-image: url(../img//slider_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 0 50px 50px;
    background-size: cover;
}

.swiper {
    width: 100%;
    height: 110%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } 

  .slider_content{
    display: flex;
    position: relative;
    color: white;
    /* width: calc(1037 / 1440 * 100vw); */
    margin: 0 auto;
  }

  .slider_content img{
    height: 540px;
    border-radius: 30px;
  }

.sld_text{
    margin: 63px 0 0 4.93vw;
}

.sld_p1{
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.2px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
}

.sld_p2{
    width: 30vw;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
    

}

  .slider_content h2::after{
    content: "";
    z-index: -1;
    display: block;
    width: 410px;
    height: 5.5px;
    margin-top: -12px;
    margin-left: -10px;
    background-color: #26C6D0;
}
.slider_content h2{
    width: 440px;
    color: #fff;
    font-size: 18px;
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 40px;
}

.slider_content .pink{
    margin-left: 27px;
}

.sld_button{
    position: absolute;
    display: block;
    width: 300px;
    height: 140px;
    background-color: #26C6D0;
    color: white;
    text-align: center;
    line-height: 140px;
    letter-spacing: 2.22px;
    font-weight: 700;
    font-size: 16px;
    bottom: -88px;
    left: calc( 311px - (1440px - 100vw)* 0.18);
}

.sld_button span{
    display: inline-block;
    width: 70px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    margin-left: 26px;
}

.sld_button:hover{
    animation: wobble-top 1s ease-in-out;
}


.sld_circle2{
    width: 53px;
    height: 53px;
    background-color: #26C6D0;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    top: 415px;
    left: 98px;
}

.sld_circle1{
    width: 53px;
    height: 53px;
    background-color: #26C6D0;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    top: 415px;
    right: 98px
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: white;
    font-size: 24px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.page{
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.22px;
    text-align: left;
    top:100px;
    right:114px;
}

.page_line{
    display: block;
    width: 48px;
    height: 1px;
    background-color: #26C6D0;
    transform: rotate(135deg);
}

.page_now{
    display: block;
    margin-bottom: 4px;
    margin-right: 30px;
}

.page_t{
    display: block;
    margin-top: 4px;
    margin-left: 30px;
}

/* ::-webkit-scrollbar {
    display: none;
  } */

  /* --- classList --- */
.nav_in{
    display: block;
    animation: move  1.5s ease-in-out forwards;
    transition: all 1s;
   }
   
   @keyframes move{
    0%{
        /* top:-150vh; */
        right:-110vw;
    }
    100%{
        /* top: 0; */
        right:0;
    }
   } 

   .nav_out{
    display: block;
    animation: out  1.5s ease-in-out forwards;
    transition: all 1s;
   }

   @keyframes out{
    0%{
        /* top:0; */
        right:0;
    }
    100%{
        /* top: -150vh; */
        right:-110vw;
        display: none;
    }
   } 

   .holder .none{
    opacity: 0;
    /* display: none; */
   }



   .holder .block{
    display: block;
    opacity: 1;
   }

   .wrapper .ytp-chrome-top .ytp-show-cards-title{
    display: none;
}

.ytp-more-videos-view{
    display: none;
}

svg{
    display: none;
}

.loader {
background-color: #26C6D0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%; height: 100%;
  animation: loading_bg 2s ease-in-out;
}
.loader .loader-wrapper {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.loader .loader-wrapper span {
  display: inline-block;
  width: 10px; height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  animation: loading 3.3s infinite ease;
}
.loader .loader-wrapper span:nth-of-type(1) {
  animation-delay: 1000ms;
}
.loader .loader-wrapper span:nth-of-type(2) {
  animation-delay: 800ms;
}
.loader .loader-wrapper span:nth-of-type(3) {
  animation-delay: 600ms;
}
.loader .loader-wrapper span:nth-of-type(4) {
  animation-delay: 400ms;
}
.loader .loader-wrapper span:nth-of-type(5) {
  animation-delay: 200ms;
}
@keyframes loading {
  0% {opacity: 0;
    transform: translateX(-300px);
  }
  33% {opacity: 1;
    transform: translateX(0px);
  }
  66% {opacity: 1;
    transform: translateX(0px);
  }
  100% {opacity: 0;
    transform: translateX(300px);
  }
}

@keyframes loading_bg {
    0% {opacity: 1;
    }
    80% {opacity: 1;
    }
    100% {opacity: 0;
    }
}

.goTop{
    width: 50px;
    height: 50px;
    /* background-color: #26C6D0; */
    background: linear-gradient(90deg, #4EE5EA 3.94%, #26D0A8 94.73%);
    z-index: 10;
    position: fixed;
    border-radius: 50%;
    cursor: pointer;
    right: 15px;
    bottom: 35px;
    display:none;
    /* border: 2px solid rgba(255,255,255,.7); */
}

.goTop::after{
    transform: rotate(-135deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    display: block;
    content: " ";
    padding: 7px;
    left: 17px;
    height: 0;
    top: 22px;
    width: 0;
}

.text_limit{
    overflow: hidden;
display: -webkit-box;
text-overflow: ellipsis;
-webkit-line-clamp: 5; /*行數*/
-webkit-box-orient: vertical;
white-space: normal;
}


/* rwd平板 */
   @media screen and (max-width:1199px) {
     .awards{
        padding: 4.51vw 0 6.8vw 4.79vw;
    }

    .awards_title p{
        margin-top: 2.2vw;
    }

    .wrapper .awards_award{
        margin-left: 0;
        margin-right: 0;
    }

    .awards .awards_title{
        width: 50%;
    }

    .awards_award_contain{
        width: 31.9vw;
        margin-left: 3.47vw;
    }

    .awards_award{
        margin-top: 2.29vw;
    }

    .awards_award div div:first-child{
        margin: 0;
    }

    .awards_award img{
        width: 230px;
    }
    .ceo{
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }

    .ceo_left{
        margin: 0 0 0 0;
    }

    .ceo_right{
        margin-top: 0;
        max-width: 50%;
    }

    .ceo_right p{
        font-size: 20px;
        line-height: 30px;
    }

    .slider_content{
        display: block;
    }

    .slider_content img{
        height: 270px;
        display: block;
        margin: 0 auto;
    }

    .sld_text{
        width: 80%;
        margin: 0 auto;
    }
    .slider_content h2{
        display: block;
        margin: 30px auto;

    }

    .sld_p1{
        display: none;
    }

    .sld_p2{
        width: 100%;
       text-align: center;
    }

    .sld_button{
        height: 70px;
        line-height: 70px;
        position: unset;
        margin: 40px auto;
    }

    .page{
        top: 10vh;
        right: 15vw;
    }

    .sld_circle1{
        right: 3.18vw;
    }

    .sld_circle2{
        left: 3.18vw;
    }

    .background{
        height: 1000px;
    }

    .menu_center{
        padding: 0 10vw 0;
        box-sizing: border-box;
        display: block;
    }
    .menu_one{
        /* width: 30%; */
        width: auto;
    }

    .menu_one_two{
        top:14.3.97px;
        right: 10vw;
    }

    .menu_two{
        width: auto;
        top:225.28px;
        position:absolute;
    }

    .menu_three{
        top:317.44px;
        position:absolute;
        right: 10vw;
        
    }

    .menu_one_one{
        height: 143px;
        width: 290px;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 38px 30px;
    }

    .menu_one_one img{
        margin:0;
        display: none;

    }

    .menu_one_one div{
        margin: 0;
    }

    .menu_two_one{
        height: 358.4px;
        top:100px;
        border-radius: 20px;
        padding-top: 120px;
    }


    .menu_two_two{
        top:501.76px;
        padding-top: 9px;
        height: 215.04px;
        border-radius: 20px;
    }

    .menu_one_two{
        height: 286.72px;
        border-radius: 20px;
        padding-top: 150px;
        box-sizing: border-box;
        top:143.97px;
    }

    .menu_one_two img{
        margin-top: 0;
    }

    .menu_one_two div{
        margin-top: 0;
    }

    .menu_three_one{
        padding: 60px 0 0 48px;
        height: 286.72px;
        border-radius: 20px;

    }

    .menu_three_two{
        height: 143.36px;
        top:479.23px;
        padding-top: 35px;

    }

    

}

@media screen and (max-width:900px) {
    .menu_center{
        padding: 0 5vw 0;
    }
    .menu_one_two{
        right: 5vw;
    }
    .menu_three{
        right: 5vw;
    }

    .banner_text2{
        bottom: 27.2%;
    }
    .banner_text2 h1{
        letter-spacing: 2.5px;
        line-height: 40px;
        font-size: 18px;
    }

    .banner_text2 img{
        width: 120px;
    }

    .banner_text2 h1::after{
        width: 250px;
        height: 7px;
        margin-top:-18px;
    }
}

@media screen and (max-width:800px) {
    .menu_center{
        padding: 0 4vw 0;
    }

    .menu_one_two{
        right: 4vw;
    }

    .menu_three{
        right: 4vw;
    }


    
}

@media screen and (max-width:767px) {
    .holder{
        height: 64px;
        padding: 13px 25px 0;
        box-sizing: border-box;
        /* background-color: #fff; */
    }
    .holder .logo_white{
        width: 92px;
        margin: 0;
    }
    .wrapper .holder .logo_blue{
        width: 95px;
        margin: 0;
    }
    .background{
        opacity: .95;
    }
    .holder_button{
        display: none;
    }

    #nav{
        margin: 7px 0;
    }

    #nav div{
        width: 20px;
    }
    #nav div:nth-child(2), #nav div:nth-child(3){
        top:7px
    }
    #nav div:nth-child(4){
        width: 16px;
        top:14px;
    }

    .slidMenu{
        margin-left: -25px;
        top:0;
    }

    .rwd_btn{
        position: absolute;
        display: block;
        top: 100px;
        left: 25px;
        width: 100%;
    }

    .top h2{
        width: calc(100% - 50px);
        font-size: 18px;
        margin: 0;
        border-bottom: 1px solid #fff;
        letter-spacing: 2.64px;
    }
    .top p{
        display: none;
    }
    .menu_one_two img{
        display: none;
    }
    .menu_one_two span{
        background-color: #EE6C8A;
    }
    .menu_three_one img{
        display: none;
    }
    .menu_two_one img{
        display: none;
    }
    .menu_two_two img{
        display: none;
    }
    .menu_center{
        padding: 0;
    }

    .menu_three_two h2{
        color: #fff;
    }
    .menu_two{
        top:0;
        width: 100%;
        max-width: 100%;
    }
    .menu_three{
        top:0;
        right: 0;
        position: unset;
        
    }

    .background{
        height: 100vh;
    }

    .menu_one_one{
        display: block;
        background-image:none;
        padding: 0;
        top: 150px;
        left:25px;
        width: 100%;
        height: auto;
    }
    .menu_one_two{
        display: block;
        background-image: none;
        left:25px;
        top: 200px;
        padding: 0;
        width: 100%;
        height: auto;

    }
    .menu_two_one{
        background-image: none;
        left:25px;
        top: 250px;
        padding: 0;
        width: 100%;
        height: auto;

    }
    .menu_three_one{
        background-image: none;
        left:25px;
        top: 300px;
        padding: 0;
        width: 100%;
        height: auto;

    }
    .menu_two_two{
        background-image: none;
        left:25px;
        top: 350px;
        padding: 0;
        width: 100%;
        height: auto;

    }
    .menu_three_two{
        background-color:rgba(0, 0, 0, 0);
        left:25px;
        top: 400px;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .holder_right {
        margin: 0;
    }
}


/* rwd手機 */
   @media screen and (max-width:600px) {
    .salad img{
        width: 50px;
    }
    .salad div{
        margin-top: 20px;
        height: 25px;
    }


    .about{
        padding: 0 25px;
        box-sizing: border-box;
    }
    .about_vline{
        height: 60px;
    }
    .about_title{
        font-size: 20px;
        letter-spacing: 1.5px;
    }

    .about_title img{
        width: 300px;
        margin-top: 5px;
    }

    .about_video{
        width: calc(100vw - 50px);
        height: calc((100vw - 50px) * 0.652);
        margin-top: 40px;
    }

    .about p{
        margin-top: 50px;
        width: auto;
    }

    .awards{
        height: auto;
        width: 90%;
        max-width: 100%;
        margin: 40px auto 0 ;
        border-radius: 20px;
        float: none;
        padding: 40px 25px ;
        display: block;
    }

    .awards .awards_title{
        max-width: 100%;
        width: 100%;
    }

    .awards_award_contain{
        margin: 0;
    }

    .awards_title div{
        width: auto;
    }

    .awards .awards_title img{
        display: block;
        margin: 0 auto;
        width: 150px;
    }
    .awards_title h3{
        font-size: 22px;
        letter-spacing: 3px;
    }

    .awards_title p{
        margin-top: 40px;
        text-align: center;
    }
    .awards_award_contain{
        width: auto;
    }
    .awards_award div{
        width: 100%;
        margin: 0 auto;
    }
    .awards_award img{
        width: 80%;
        margin-left: 25px;
    }

    .ingradients{
        margin-top: 40px;
        padding: 40px 25px;
    }

    .ingradients .about_title{
        padding-top: 0;
        margin-top: 0;
    }

    .ingradients_text{
        width: auto;
    }

    .ingradients_list{
        margin: 0 auto 60px;
    }

    .ingradients_list p{
        margin-top: 0;
        width: auto;
    }

    .ingradients_list h4{
        font-size: 18px;
        margin-bottom: 15px;
        height: auto;
    }

    .ingradients h6{
        display: none;
    }

    .ceo{
        float: none;
        display: block;
        margin: 40px auto;
        padding: 40px 25px;
        border-radius: 20px;
        height: auto;
        width: 90%;
        background-attachment: fixed;
    }

    .ceo_right{
        max-width: none;
        width: auto;
    }

    .ceo_left p{
        text-align: center;
        width: auto;
    }

    .ceo_right p{
        font-size: 16px;
        margin-top: 40px;
        line-height: 1.6;
        font-weight: 400;
        text-align: center;
    }

    .ceo_right img{
        display: none;
    }

    .brand{
        margin-top: 0;
        padding: 40px 25px;
    }

    .brand p{
        margin: 40px auto;
        width: auto;
    }

    .brand .about_title img{
        width: 325px;
    }

    .client_img{
        max-width: none;
        width: 90%;
    }

    .buttom{
        padding-top: 100px;
    }
    
    .sld_text{
        width: 90%;
    }

    .slider_content h2{
        width: auto;
        font-size: 20px;
        text-align: center;
    }

    .slider_content .pink{
        margin-left: 10px;
    }

    .slider_content h2::after{
        width: 312px;
        margin: -14px auto;
    }

    .sld_p2{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5; /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal;
    }


    .sld_circle1{
        width: 30px;
        height: 30px;
    }

    .sld_circle2{
        width: 30px;
        height: 30px;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
        font-size: 14px;
    }
    
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        font-size: 14px;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 0;
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 0;
    }
    .goTop{
        right: 0;
    }
    
   }

  
